@charset "UTF-8";

:root {
    /* カラー */
    --pink-color: #fce8e0;
    --sky-blue-color: #dcebf2;
    --blue-color: #586b7b;
    --dark-blue-color: #2c3e50;
    --white-color: #ffffff;

    /* 文字サイズ */
    --font-size-14px: 0.875rem;
    --font-size-16px: 1rem;
    --font-size-18px: 1.125rem;
    --font-size-24px: 1.5rem;
    --font-size-30px: 1.875rem;
    --font-size-36px: 2.25rem;

    /* 文字の太さ */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

html {
    background: var(--sky-blue-color);
}

/* ヘッダー */
.main-header {
    background: var(--white-color);
}

.main-header a {
    background: var(--blue-color);
    border-radius: 25px;
}

/*  */

/* 追従ボタン */
.reserve-now {
    background: var(--blue-color);
    border: 1px solid var(--blue-color);
}

/*  */

/* 共通 */
.container:not(.hero-section .container),
.footer-inner {
    border-radius: 20px;
}

.container,
.footer-inner {
    background: var(--white-color);
    box-shadow: 0 4px 10px rgba(88, 104, 123, 0.2);
}

.wave-line.w {
    width: 90%;
    height: 40px;
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1440 60' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='none' stroke='%23ffffff' stroke-width='3' d='M0,30 C180,10 360,50 540,30 S900,10 1080,30 S1260,50 1440,30'/></svg>") no-repeat center;
    background-size: cover;
    margin: 10px auto;
}

/*  */

/* コンセプトセクション */
.content-wrapper .wave-line.b {
    width: 95%;
    height: 30px;
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1440 60' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='none' stroke='%23dcebf2' stroke-width='4' d='M0,30 C180,10 360,50 540,30 S900,10 1080,30 S1260,50 1440,30'/></svg>") no-repeat center;
    background-size: cover;
    margin: auto;
}

/*  */

/* ゼン・ヨガ・ポイントセクション */
.point.p,
.lesson-step.p {
    background: var(--pink-color);
    box-shadow: 0 2px 5px rgba(88, 104, 123, 0.2);
    border-radius: 20px;
}

.point.w,
.lesson-step.w {
    border: 1px solid var(--blue-color);
    box-shadow: 0 2px 5px rgba(88, 104, 123, 0.2);
    border-radius: 20px;
}

.point-circle.b {
    width: 45px;
    height: 45px;
    background-color: var(--blue-color);
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.point-circle.w {
    width: 40px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.point.w .point-circle {
    width: 45px;
    height: 45px;
    background-color: var(--blue-color);
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  */

/* リッスンセクション */
.effect-circle p {
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom, var(--pink-color), var(--white-color), var(--pink-color));
    border: 1px solid var(--pink-color);
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(88, 104, 123, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  */

/* ボイスセクション */
.profile {
    border: 1px solid var(--blue-color);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(88, 104, 123, 0.2);
}

.profile-img p {
    background: var(--white-color);
    box-shadow: 0 2px 5px rgba(88, 104, 123, 0.2);
}

/*  */

/* リッスンフローセクション */
.first-arrow,
.second-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--blue-color);
    margin: 10px auto;
}

/*  */

/* キャンペーンセクション */
.compaign-inner {
    background: var(--sky-blue-color);
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(88, 104, 123, 0.2);
}

/*  */

/* フッター */
.footer-inner .wave-line.b {
    width: 100%;
    height: 30px;
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1440 60' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='none' stroke='%23dcebf2' stroke-width='4' d='M0,30 C180,10 360,50 540,30 S900,10 1080,30 S1260,50 1440,30'/></svg>") no-repeat center;
    background-size: cover;
    margin: auto;
}

/*  */

/* フリートライアルセクション */
.trial-inner {
    background: var(--pink-color);
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(88, 104, 123, 0.2);
}

.trial-inner:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/*  */

/* スクロールボタン */
.to-top {
    position: fixed;
    bottom: 40px;
    right: 5px;
    width: 30px;
    height: 30px;
    color: var(--blue-color);
    background: var(--white-color);
    border: 1px solid var(--blue-color);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(44, 62, 80, 0.1);
    font-size: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
}

.to-top:hover {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    transform: scale(1.1);
}

.to-top:active {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    transform: scale(1.1);
}

/*  */

/* 動き */
.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

.delay-1 {
    transition-delay: 0s;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-3 {
    transition-delay: 0.4s;
}

.delay-4 {
    transition-delay: 0.6s;
}

.delay-5 {
    transition-delay: 0.8s;
}

/*  */